@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@font-face {
  font-family: "EuclidCircularA-Regular";
  font-display: swap;
  src: url("../fonts/EuclidCircularA-Regular.woff") format("woff"), url("../fonts/EuclidCircularA-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CabernetJF";
  font-display: swap;
  src: url("../fonts/CabernetJF.woff") format("woff"), url("../fonts/CabernetJF.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "EuclidCircularA-Regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "EuclidCircularA-Regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #6d758d;
}

._btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 146.66667%;
  text-align: center;
  background-color: #0013ff;
  color: #ffffff;
  padding: 10px 19px;
  border-radius: 23px;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

._btn:hover {
  background-color: #040062;
}

._btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #0013ff;
  -webkit-box-shadow: 0 2px 25px #c7e3e9;
          box-shadow: 0 2px 25px #c7e3e9;
}

.form__input {
  height: 52px;
  width: 341px;
  border-radius: 23px;
  background-color: #fff;
  font-size: 14px;
  line-height: 150%;
  color: inherit;
  padding: 15px 25px;
  margin-right: 3.53%;
  margin-bottom: 4.22%;
}

.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__input:focus::-moz-placeholder {
  color: transparent;
}

.form__input:focus:-ms-input-placeholder {
  color: transparent;
}

.form__input:focus::-ms-input-placeholder {
  color: transparent;
}

.form__input:focus::placeholder {
  color: transparent;
}

.form__button {
  height: 52px;
  width: 115px;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  font-family: "CabernetJF";
  font-weight: 900;
  font-size: 38px;
  line-height: 131.57895%;
  letter-spacing: 1px;
  word-spacing: 3px;
  color: #040062;
}

.header {
  font-size: 15px;
  line-height: 146.66667%;
  color: #040062;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 4.62963%;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 12%;
          flex: 0 1 12%;
}

.header__icon {
  z-index: 5;
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  bottom: -2px;
  opacity: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  cursor: pointer;
}

.header__icon span {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 50%;
  left: 0;
  margin-top: -4%;
  background-color: #040062;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__icon span:first-child {
  top: 0;
}

.header__icon span:last-child {
  bottom: 0;
  top: auto;
}

.header__icon:hover span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__icon:hover span:first-child {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
      -ms-transform: rotate(-45deg) translate(-7px, 6px);
          transform: rotate(-45deg) translate(-7px, 6px);
}

.header__icon:hover span:last-child {
  display: none;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
}

.header__lang {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 19.7%;
          flex: 0 1 19.7%;
  padding-right: 18px;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 157px;
          flex: 0 0 157px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
}

.menu__list li {
  margin-right: 20px;
}

.menu__list li:last-child {
  margin-right: 0;
  padding-left: 12px;
}

.menu__list a {
  color: inherit;
  position: relative;
}

.menu__list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -1px;
  left: 0;
  background-color: #6d758d;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu__list a:hover::before {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.lang__select {
  color: inherit;
  cursor: pointer;
}

._container {
  max-width: 1296px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.intro {
  background: #c7e3e9;
  padding: 6.17284% 2.24% 0;
  margin-bottom: 8.4%;
}

.intro__title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
  font-size: 53px;
  line-height: 133%;
  font-weight: 900;
  color: #040062;
}

.intro__title span:nth-child(2) {
  font-size: 68px;
  line-height: 153%;
}

.intro__title span:nth-child(3) {
  font-size: 93px;
  line-height: 153%;
}

.decor__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.decor__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25.84877%;
          flex: 0 1 25.84877%;
  padding: 0 0 19.1% 0;
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(8.09717%);
      -ms-transform: translateY(8.09717%);
          transform: translateY(8.09717%);
}

._no-webp .decor__left::after{
  background: url("../img/intro/intro_bg/1.png") 0 0/84% no-repeat; }

.decor__left::after {
  content: "";
  width: 100%;
  height: 147.47%;
  position: absolute;
  left: 9%;
  bottom: 8.09717%;
  z-index: -1;
}

.decor__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.38889%;
          flex: 0 1 26.38889%;
  padding: 0 0 18% 0;
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(8.54701%);
      -ms-transform: translateY(8.54701%);
          transform: translateY(8.54701%);
}

._no-webp .decor__right::after{
  background: url("../img/intro/intro_bg/2.png") 0 0/84% no-repeat; }

.decor__right::after {
  content: "";
  width: 100%;
  height: 151.75%;
  position: absolute;
  right: -7%;
  bottom: 8.54701%;
  z-index: -1;
}

.decor__center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.04321%;
          flex: 0 1 39.04321%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.decor__center::before {
  content: "";
  width: 38.73518%;
  height: 2px;
  background-color: #b3ccdb;
  position: absolute;
  top: 50%;
  left: 0;
}

.decor__center::after {
  content: "";
  width: 38.73518%;
  height: 2px;
  background-color: #b3ccdb;
  position: absolute;
  top: 50%;
  right: 0;
}

.decor__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 8.89328%;
          flex: 0 1 8.89328%;
  padding: 0 0 12% 0;
}

.sections__container {
  margin-bottom: 5.32%;
}

.item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item:nth-child(even) .item__body {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0px 15.4321% 0px 9.25926%;
}

.item:nth-child(even) .item__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.item__image {
  padding: 10.80247% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  height: 100%;
}

.item__image_color-b {
  background-color: #fef1ef;
}

.item__image_color-a {
  background-color: #c7e3e9;
}

.item__picture {
  padding: 0 0% 78.397% 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.26543%;
          flex: 0 1 36.26543%;
}

.item__body {
  position: relative;
  padding: 4% 9.25926% 4% 15.4321%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 2;
}

.item__title {
  margin-bottom: 6.557%;
}

.item__text {
  margin-bottom: 8%;
}

.item__text:last-of-type {
  margin-bottom: 0;
}

.item__decor {
  position: absolute;
  padding: 0 40.58% 46.76% 0;
  bottom: 0;
  left: -27%;
}

._no-webp .item__decor::after{
  background: url("../img/sections/bg_decor/1.png") 0 0/100% no-repeat; }

.item__decor::after {
  content: "";
  width: 122.46%;
  height: 128.7%;
  position: absolute;
  left: -31%;
  bottom: 0;
  z-index: -1;
}

.item_2 .item__decor {
  padding: 0 54.17% 49.23% 0;
  bottom: -3.4%;
  left: 71%;
}

._no-webp .item_2 .item__decor::after{
  background: url("../img/sections/bg_decor/2.png") 0 0/100% no-repeat; }

.item_2 .item__decor::after {
  content: "";
  width: 80.05%;
  height: 81.82%;
  position: absolute;
  left: 38%;
  top: -55%;
  z-index: -1;
}

.item_3 .item__decor {
  position: absolute;
  padding: 0 33.96% 44.45% 0;
  bottom: 0;
  left: -17%;
}

._no-webp .item_3 .item__decor::after{
  background: url("../img/sections/bg_decor/3.png") 0 0/100% no-repeat; }

.item_3 .item__decor::after {
  content: "";
  width: 178.14%;
  height: 165.27%;
  position: absolute;
  left: -94%;
  bottom: 0;
  z-index: -1;
}

.item_4 .item__decor {
  padding: 0 33.65% 44.6% 0;
  bottom: 0;
  left: 83%;
}

._no-webp .item_4 .item__decor::after{
  background: url("../img/sections/bg_decor/4.png") 0 0/100% no-repeat; }

.item_4 .item__decor::after {
  content: "";
  width: 139%;
  height: 135.3%;
  position: absolute;
  left: 6%;
  bottom: 0;
  z-index: -1;
}

.item_5 .item__decor {
  padding: 0 29.939% 43.829% 0;
  bottom: 0;
  left: -22%;
}

._no-webp .item_5 .item__decor::after{
  background: url("../img/sections/bg_decor/5.png") 0 0/100% no-repeat; }

.item_5 .item__decor::after {
  content: "";
  width: 170.625%;
  height: 119.37%;
  position: absolute;
  left: -40%;
  bottom: 0;
  z-index: -1;
}

.item_5 .item__text {
  margin-bottom: 8.198%;
}

.item_5 .item__button {
  margin-bottom: 8.198%;
}

.item_5 .item__body *:last-child {
  margin-bottom: 0;
}

.letter__container {
  margin-bottom: 8%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 29.012% 50%;
  grid-template-columns: 1fr 29.012% 50%;
  -ms-grid-rows: 44px 395px 44px;
  grid-template-rows: 44px 395px 44px;
}

.letter__main {
  background-color: #f5fbff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.letter__body {
  padding: 8.3% 12.5% 8.3% 0px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.letter__body *:last-child {
  margin-bottom: 0;
}

.letter__title {
  margin-bottom: 4.58%;
}

.letter__text {
  margin-bottom: 7.1%;
}

.letter__form {
  margin-bottom: 4.22%;
}

.letter__add {
  margin-bottom: 4.22%;
  font-size: 13px;
  line-height: 19px;
}

.letter__add a {
  color: inherit;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.letter__add a:hover {
  text-decoration: none;
}

.letter__card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  z-index: 2;
  border-radius: 14px;
  background: #c7e3e9;
  border: 4px solid #ffffff;
  -webkit-box-shadow: 0px 20px 40px rgba(4, 0, 98, 0.05);
          box-shadow: 0px 20px 40px rgba(4, 0, 98, 0.05);
  padding: 64px 24px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-transform: translateX(-29%);
      -ms-transform: translateX(-29%);
          transform: translateX(-29%);
}

.letter__image {
  padding: 0 0 113% 0;
}

@media (max-width: 1308px) {
  ._container {
    max-width: 1170px;
  }
}

@media (max-width: 1023.98px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .form__input {
    margin-right: 1%;
    display: block;
  }

  ._container {
    max-width: 896px;
  }

  .letter__container {
    -ms-grid-rows: 26px 395px 26px;
    grid-template-rows: 26px 395px 26px;
  }
}

@media (max-width: 886px) {
  .title {
    font-size: 33px;
  }

  .item_5 .item__body {
    padding-left: 19.4321%;
  }
}

@media (max-width: 800px) {
  .item_5 .item__text {
    font-size: 16px;
  }

  .item_5 .item__title {
    font-size: 31px;
  }
}

@media (max-width: 769px) {
  .intro__title span:nth-child(2) {
    font-size: 53px;
  }

  .intro__title span:nth-child(3) {
    font-size: 56px;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 16px;
  }

  .title {
    font-size: 31px;
  }

  .header__container {
    padding: 15px 4.5216%;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 10px;
  }

  .header__icon {
    display: block;
    opacity: 1;
  }

  .header__actions {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 21%;
            flex: 1 0 21%;
  }

  .header__actions {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .menu {
    overflow: auto;
  }

  .menu__body {
    display: none;
    position: absolute;
    z-index: 6;
    padding: 44px 0 0 0;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #ffffff;
    overflow: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .menu__list li:last-child {
    padding-left: 0;
    margin-bottom: 0;
  }

  .menu__list a {
    font-size: 35px;
  }

  ._container {
    max-width: none;
  }

  .decor__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 17.21759%;
            flex: 1 1 17.21759%;
    padding: 0 0 27.1% 0;
  }

  .decor__left::after {
    -webkit-transform: translateY(6%);
        -ms-transform: translateY(6%);
            transform: translateY(6%);
  }

  .decor__right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 16.96836%;
            flex: 1 1 16.96836%;
    padding: 0 0 25% 0;
  }

  .decor__right::after {
    -webkit-transform: translateY(6%);
        -ms-transform: translateY(6%);
            transform: translateY(6%);
  }

  .decor__center {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 15.7%;
            flex: 0 1 15.7%;
    margin: 0 6%;
  }

  .decor__center::before {
    left: -7%;
  }

  .decor__center::after {
    right: -7%;
  }

  .decor__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 21%;
            flex: 0 1 21%;
    padding: 0 0 28% 0;
  }

  .item_5 .item__text {
    font-size: 14px;
  }

  .item_5 .item__title {
    font-size: 29px;
  }

  .letter__container {
    -ms-grid-rows: 0 395px 0;
    grid-template-rows: 0 395px 0;
  }

  .letter__main {
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
  }

  .letter__body {
    padding: 8.3% 6.5% 8.3% 5%;
  }

  .letter__card {
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%);
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0;
    background: none;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px;
  }
}

@media (max-width: 724px) {
  .item_5 .item__title {
    font-size: 26px;
  }
}

@media (max-width: 670px) {
  body {
    font-size: 14px;
  }

  .letter__main {
    -ms-grid-columns: 1fr 1.9fr;
    grid-template-columns: 1fr 1.9fr;
  }

  .letter__card {
    -webkit-transform: translateX(-54%);
        -ms-transform: translateX(-54%);
            transform: translateX(-54%);
  }
}

@media (max-width: 668px) {
  .item__decor {
    -webkit-transform: scale(0.8) translateY(12%);
        -ms-transform: scale(0.8) translateY(12%);
            transform: scale(0.8) translateY(12%);
  }
}

@media (max-width: 650px) {
  .item_5 .item__text {
    font-size: 12px;
  }

  .item_5 .item__title {
    font-size: 24px;
  }

  .item_5 .item__button {
    font-size: 13px;
    padding: 8px 15px;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 31px;
    word-spacing: 2px;
  }
}

@media (max-width: 606px) {
  .title {
    font-size: 27px;
    letter-spacing: 0;
    word-spacing: 0;
  }
}

@media (max-width: 600px) {
  .form__input {
    height: 47px;
    width: 282px;
  }

  .letter__main {
    display: block;
  }

  .letter__card {
    -webkit-transform: translateX(172%) translateY(-17%);
        -ms-transform: translateX(172%) translateY(-17%);
            transform: translateX(172%) translateY(-17%);
    -ms-flex-line-pack: end;
        align-content: end;
  }
}

@media (max-width: 575px) {
  .intro__title {
    font-size: 45px;
    line-height: 140%;
  }

  .intro__title span:nth-child(2) {
    font-size: 45px;
    line-height: 140%;
  }

  .intro__title span:nth-child(3) {
    font-size: 53px;
    line-height: 140%;
  }
}

@media (max-width: 569px) {
  .letter__card {
    -webkit-transform: translateX(172%) translateY(-22%);
        -ms-transform: translateX(172%) translateY(-22%);
            transform: translateX(172%) translateY(-22%);
  }
}

@media (max-width: 550px) {
  .item_5 .item__title {
    font-size: 21px;
  }
}

@media (max-width: 479.98px) {
  body {
    font-size: initial;
  }

  ._btn {
    font-size: 13px;
    padding: 11px 15px;
  }

  .title {
    font-size: 26px;
    letter-spacing: 1px;
  }

  .header__logo {
    padding-right: 15px;
  }

  .header__icon span {
    margin-top: -1%;
  }

  .header__lang {
    padding-right: 8px;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 134px;
            flex: 0 1 134px;
  }

  .intro {
    margin-bottom: 0;
  }

  .intro__title {
    font-size: 34px;
    line-height: 130%;
  }

  .intro__title span:nth-child(2) {
    font-size: 37px;
    line-height: 130%;
  }

  .intro__title span:nth-child(3) {
    font-size: 45px;
    line-height: 130%;
  }

  .decor__center::before {
    left: -21%;
  }

  .decor__center::after {
    right: -21%;
  }

  .decor__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    padding: 0 0 43% 0;
  }

  .item:nth-child(even) .item__body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 5% 25% 5% 6%;
    text-align: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.8fr 1fr;
    grid-template-rows: 0.8fr 1fr;
  }

  .item__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 6% 0;
  }

  .item__body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 5% 6% 5% 25%;
    text-align: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .item__decor {
    left: 0;
    -webkit-transform: scale(0.7) translateY(37%);
        -ms-transform: scale(0.7) translateY(37%);
            transform: scale(0.7) translateY(37%);
  }

  .item_1 .item__body {
    margin-top: -10%;
  }

  .item_2 .item__decor {
    bottom: 0;
    left: 61%;
    -webkit-transform: scale(0.7) translateY(28%);
        -ms-transform: scale(0.7) translateY(28%);
            transform: scale(0.7) translateY(28%);
  }

  .item_3 .item__decor {
    left: -4%;
    -webkit-transform: scale(0.7) translateY(21%);
        -ms-transform: scale(0.7) translateY(21%);
            transform: scale(0.7) translateY(21%);
  }

  .item_4 .item__decor {
    left: 71%;
    -webkit-transform: scale(0.7) translateY(21%);
        -ms-transform: scale(0.7) translateY(21%);
            transform: scale(0.7) translateY(21%);
  }

  .item_5 .item__title {
    font-size: 26px;
    letter-spacing: 1px;
  }

  .item_5 .item__text {
    font-size: 13px;
  }

  .item_5 .item__decor {
    left: -11%;
    -webkit-transform: translateY(-41%);
        -ms-transform: translateY(-41%);
            transform: translateY(-41%);
  }

  .letter__card {
    -webkit-transform: translateX(172%) translateY(-28%);
        -ms-transform: translateX(172%) translateY(-28%);
            transform: translateX(172%) translateY(-28%);
  }
}

@media (max-width: 436px) {
  .letter__card {
    -webkit-transform: translateX(171%) translateY(0%);
        -ms-transform: translateX(171%) translateY(0%);
            transform: translateX(171%) translateY(0%);
  }
}

@media (max-width: 390px) {
  ._btn {
    font-size: 12px;
    padding: 7px 9px;
    letter-spacing: 0.2px;
  }

  .header__container {
    padding: 5px 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo img {
    max-width: 50px;
    vertical-align: baseline;
  }

  .header__icon {
    bottom: -1px;
    -webkit-transform: scale(0.7) translate(-61%, -19%);
        -ms-transform: scale(0.7) translate(-61%, -19%);
            transform: scale(0.7) translate(-61%, -19%);
  }

  .header__icon span {
    margin-top: -1%;
  }

  .header__lang {
    padding-right: 0px;
    -webkit-transform: scale(0.7) translate(64%, -1%);
        -ms-transform: scale(0.7) translate(64%, -1%);
            transform: scale(0.7) translate(64%, -1%);
  }

  .header__button {
    text-align: end;
  }
}

@media (max-width: 378px) {
  .intro__title {
    font-size: 26px;
    line-height: 120%;
  }

  .intro__title span:nth-child(2) {
    font-size: 30px;
    line-height: 120%;
  }

  .intro__title span:nth-child(3) {
    font-size: 37px;
    line-height: 120%;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 13px;
  }

  .title {
    font-size: 23px;
    letter-spacing: 0;
  }
}

@media (max-width: 350px) {
  .letter__card {
    -webkit-transform: translateX(174%) translateY(0%);
        -ms-transform: translateX(174%) translateY(0%);
            transform: translateX(174%) translateY(0%);
  }
}

._webp .decor__left::after{ background: url(../img/intro/intro_bg/1.webp) 0 0/84% no-repeat; }

._webp .decor__right::after{ background: url(../img/intro/intro_bg/2.webp) 0 0/84% no-repeat; }

._webp .item__decor::after{ background: url(../img/sections/bg_decor/1.webp) 0 0/100% no-repeat; }

._webp .item_2 .item__decor::after{ background: url(../img/sections/bg_decor/2.webp) 0 0/100% no-repeat; }

._webp .item_3 .item__decor::after{ background: url(../img/sections/bg_decor/3.webp) 0 0/100% no-repeat; }

._webp .item_4 .item__decor::after{ background: url(../img/sections/bg_decor/4.webp) 0 0/100% no-repeat; }

._webp .item_5 .item__decor::after{ background: url(../img/sections/bg_decor/5.webp) 0 0/100% no-repeat; }